.seccion{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin:2rem

}

 .nav{
    margin-top: 2rem;
    width: 100%;
    
}

.nav > img{
    width: 50%;
    height: 18rem;

}

section > .search{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.busca{
    margin-top: 2rem;
    padding-left: 3.5rem;
}


.btn{
    background: none;
    list-style-type: none;
    border: none;
    
}

.btn > img{
    width: 5rem;
    height: 4rem;
    
}

.poke{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
width: 80%;
grid-gap: 1rem;
flex-wrap: wrap;
}

.poke > figure {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width: 100%;
    height:100%;
    border: 3px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.poke > figure > img{
width: 150px;
height: 150px;
transition: all ease-in-out 0.5s;

}


.clases{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:1rem;
    margin-top: 2rem;
}

.poke > figure > img:hover{
    scale: 1.5;
}

.fire{
    background-color: rgb(198, 32, 32);
}

.grass{
    background-color: greenyellow;
}

.water{
    background-color: aqua;
}

.bug{
    background-color: rgb(79, 227, 79);
}
.normal{
    background-color: burlywood;
}
.poison{
    background-color:slateblue;
}
.electric{
    background-color: rgb(245, 245, 50);
}
.ground{
    background-color:peru;
}
.fairy{
    background-color: pink;
}
.fighting{
    background-color: sienna;
}
.psychic{
    background-color: blueviolet;
}
.rock{
    background-color:darkgrey;
}
.ghost{
    background-color: darkslategrey;
}
.ice{
    background-color: rgb(4, 137, 137);
}
.dragon{
    background-color: powderblue;
}

h2{
    margin-top:20px;
}

p{
    font-size: 20px;
    font-weight: 500;
}