.home{
   margin:1rem 5rem;
 width: 100%;
 padding: 3rem;
 background-image: url('https://res.cloudinary.com/dy4mossqz/image/upload/v1675448618/img/background_azqgzp.jpg');
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap:4rem;
 flex-wrap: wrap;
 height: 100%;
 border-radius: 10%;
}
.nav{
   display:flex;
   justify-content:space-around;
   align-items: center;
   color:whitesmoke
}
.nav > p{
   font-size: 40px;
   font-weight: 700;
}

.games{
   width: 100%;
   display:flex;
   justify-content:space-around;
   align-items: center;
   gap:1.5rem;
   flex-wrap: wrap;
   margin-top: 2rem;
}

.games > a{
   display: flex;
   justify-content: center;
   align-items: center;
    
    color: whitesmoke;
    text-decoration: none;
   font-size: 40px;
   font-weight: 600;
   flex-wrap: wrap;
   
}

.exit{
   width: 50px;
   height: 50px;
   margin-right: 20px;
}
